* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	margin: 0 auto;
}
header i {
	font-size: 13px;
	margin-left: 6px;
}
main i {
	font-size: 12px;
	margin-left: 6px;
	color: #464646;
}

main li {
	font-size: 15px;
}

@media print {
	.__print_media__ {
		padding-top: 16px;
	}
}
